.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    
}
.visitedCountries{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid seagreen;
    border-radius: 10px;
    gap: 10px;
}